@model IEnumerable<WebApi_Examen_I.Models.PersonaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Registro Personas</h1>

<p>
    <a asp-action="AbrirNuevoRegistro" asp-controller="Persona" class="font-weight-bold">Crear Nuevo</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                Cédula:
            </th>
            <th>
                Nombre:
            </th>
            <th>
                Apellido
            </th>
            <th>
                Género
            </th>
            <th>
                Fecha Nacimiento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="table-info">
            <td>
                @Html.DisplayFor(modelItem => item.iCedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bGenero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtmFechaNacimiento)
            </td>
            <td>
                    @Html.ActionLink("Modificar", "AbrirModificarPersona", new { _sCedula = item.iCedula }, new { @class = "btn btn-outline-warning" }) | @*AGARRA LA LLAVE DEL PARAMETRO DEL GESTOR Y INICIALIZA EL VALOR ID*@
                    @Html.ActionLink("Eliminar", "DeletePersona", new { _sCedula = item.iCedula }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
