@model IEnumerable<WebApi_Examen_I.Models.ArticuloModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Registro Artículos</h1>

<p>
    <a asp-action="AbrirNuevoRegistroArtic" asp-controller="Articulo" class="font-weight-bold">Crear Nuevo</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th style="display:none">
                ID
            </th>
            <th>
                Código
            </th>
            <th>
                Descripción
            </th>
            <th>
                Cantidad Disponible
            </th>
            <th>
                Fecha Caducidad
            </th>
            <th>
                Precio Unitario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-warning">
            <td style="display:none">
                @Html.DisplayFor(modelItem => item.sId)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.iCodigo)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.sDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.iCant_Disponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtmFecha_Caducidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dbPrecio_Unitario)
            </td>
            <td>                                                                                            @*AGARRA LA LLAVE DEL PARAMETRO DEL GESTOR Y INICIALIZA EL VALOR ID*@
                    @Html.ActionLink("Modificar", "AbrirModificarArtic", new { _sIdArtic = item.sId }, new { @class = "btn btn-warning" })|
                    @Html.ActionLink("Eliminar", "DeleteArticulo", new { _sIdArtic = item.sId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
